*{
  margin: 0px;
  padding: 0px;
}
.wall{
  box-sizing: 1px;
  border: none;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 1280px;
  margin: auto;
 
  /* height: 550px; */
  margin-top: 50px;
  /* border: 1px red solid; */
  
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

.intro{
  width: 1280px;
  height:60px;
  background-color: #3D5367;
  text-align: justify;
  position: relative;
}
.intro h2{
  font-family: 'Lato',sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  padding-top: 15px;
  padding-left: 10px;
}
.logoimg{
  border-radius:80%;
  border: 1px #fff solid;
  position: absolute;
  top: -50px;
  left:46%;
  height: 100px;
  width: 100px;
}
.tarjetascontent{
  max-width: 1280px;
  background-color: #F7F7F7;
  height: 70px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
}
.tarjetascontent h4{
  font-family: 'Lato',sans-serif;
  font-weight: 300;
}
#positioncredito{
  padding-left: 10px;
}
#positiondebito{
  padding-left: 10px;
}
.linea{
  border-left: 1px solid #ccc;
  font-weight: 300;
  height: 60%;
}
.contentform{
  padding-top: 10px;
  max-width: 1280px;
  height: 400px;
  display: flex;
  /* flex-direction: row;
  flex-wrap: wrap; */
  justify-content: center;
  background-color: #F7F7F7;
  /* position: absolute; */
}
.words{
  padding-left: 135px;
  padding-right: 272px;
}
.words-2{
  padding-left: 135px;
  padding-right: 265px;
}
.words-3{
  padding-left: 350px;
  padding-right: 70px;
}
#posicionpay{
  padding-left: 350px;
}
#posicionsecurity{
  padding-left: 400px;
  position: relative;
  top: 12px;
}
.sctn{
  border: 1px solid #ccc;
  font-size: 18px;
  width: 350px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 135px;
  margin-right: 79px;
}
.sctn-2{
  border: 1px solid #ccc;
  font-size: 18px;
  width: 130px;
  height: 40px;
  margin-left: 135px;
  margin-right: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sctn-3{
  border: 1px solid #ccc;
  font-size: 18px;
  width: 130px;
  height: 40px;
  margin-left: 134px;
}
span{
  font-family: 'Lato',sans-serif;
  font-weight: 300;
}
label{
  font-family: 'Lato',sans-serif;
  font-weight: 300;
  font-size: 20px;
}
::placeholder{
  font-family: 'Lato',sans-serif;
  font-weight: 300;
  padding-left: 5px;
}
.btnenviar{
  height: 40px;
  width: 165px;
  background-color: #C50E02;
  color: #fff;
  border-radius: 5%;
  border: none;
  font-family: 'Lato',sans-serif;
  font-weight: 300;
  font-size: 15px;
  
}








